@import "./_variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

html{
    scroll-behavior: smooth;
  }

  .welcome{
    background: url(../assets/images/clouds-g8eee36838_1920.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      &__rain{
      justify-content: center;
      width: 50%;
      height: 10%;
      color: $color-white;
      font-family: 'Open Sans', sans-serif;
        &__rain h1{
              font-size: 30px;
              font-weight: 700;
          }
          &__rain p{
              font-weight: 400;
              font-size: 20px;
              width: 100%;
              height: 30%;
              margin-top: -5px;
          }   
          }
          }

.mainTwo{
  height: 90%;
  background: linear-gradient(#2442AC, #2834be);

  &__top{
  justify-content: center;
  display: flex;
  padding: 15px;
    &__rain2{
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    height: 10%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
      &__txt{
      color: white;
  }
}

      &__rain2 h1{
      font-size: 25px;
      font-weight: 700;
      }
      }





input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}


&__section {
  border: 0px;
  border-radius: 5px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
    &__searchDiv {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
}

.mainTwo__section__searchDiv img{
  width: 40%;
}


}

&__degree{
  display: flex;
  justify-content: space-evenly;
  height: 15%;
  padding: 20px;
    &__pluie{
    justify-content: space-evenly;
    display: flex;
    }
      &__nombre{
        font-size: 25px;
        font-family:'Open Sans', sans-serif;
        color: #fff;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 700;
        margin-left: 10px;
      }
}



.mainTwo__degree__pluie img{
  height: 100%;
}

&__texte{
  height: 10%;

  &__p{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  }

}

&__graph{
height: 30%;
}

}
.bottom{
  bottom: 0;
  height: 10%;
  background-color: $color-gray;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;


&__prevision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
}
.__img{
  height: 50%;
}

.bottom__prevision a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #102a88;
}

.bottom__carte__carteImg{
  height: 50%;
}

.bottom__carte a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #102a887d;
}
