@import "./_variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

html{
    scroll-behavior: smooth;
  }

  .menu{
    background: url(../assets/images/menu.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
      padding-right: 5%;
    }

      &__r{
      justify-content: center;
      width: 50%;
      height: 10%;
      color: $color-white;
      font-family: 'Open Sans', sans-serif;
        &__r h1{
              font-size: 30px;
              font-weight: 700;
          }
          &__r p{
              font-weight: 400;
              font-size: 20px;
              width: 100%;
              height: 30%;
              margin-top: -5px;
          }   
          }
          }

.mainTwo{
  height: 90%;
  background: linear-gradient(#2b4bbe, #a3a5bd);


  &__h{
  justify-content: center;
  display: flex;
  padding: 15px;
  gap: 5%;

    &__r2{
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    height: 10%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
      &__txt{
      color: white;
  }
}

      &__rain2 h1{
      font-size: 25px;
      font-weight: 700;
      }
      }





input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}


&__section {
  border: 0px;
  border-radius: 5px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
    &__searchDiv {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
}

.mainTwo__section__searchDiv img{
  width: 40%;
}


}

&__dg{
  display: flex;
  justify-content: space-evenly;
  height: 15%;
  padding: 20px;
    &__p{
    justify-content: space-evenly;
    display: flex;
    }
      &__nb{
        font-size: 25px;
        font-family:'Open Sans', sans-serif;
        color: #fff;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 700;
        margin-left: 10px;
      }
}



.mainTwo__degree__pluie img{
  height: 100%;
}

&__texte{
  height: 10%;

  &__p{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
  color: #fff;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  }

}

&__heure{
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 80%;
    width: 90%;
    background-color: #fff;
    border-radius: 25px;
    font-family:'Open Sans', sans-serif;

    &__p1{
      color: #cf1d1d;
    }
  }
}

&__graph{
height: 40%;
display: flex;
align-items: center;
justify-content: center;

  &__1{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    
    &__1{
      display: flex;
      height: 100%;

      &__ard{
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 75%;
        background: linear-gradient(#2b4bbe, #a3a5bd);
        clip-path: polygon(0% 15%, 19% 54%, 37% 23%, 59% 35%, 77% 27%, 100% 43%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);

          &__p{
            display: flex;
            gap: 10%;
            font-size: 0.7rem;
            padding-left: 8px;
            font-family:'Open Sans', sans-serif;
            color: #fff;
            padding-bottom: 5px;
          }
      }

      &__arg{
        height: 100%;
        width: 25%;

        &__d1{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 33%;
        }

        &__d2{
          height: 33%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__d3{
          height: 34%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    
  }
}

}
.bottom{
  bottom: 0;
  height: 10%;
  background-color: $color-gray;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;


&__prevision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
}
.__img{
  height: 50%;
}

.bottom__prevision a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #2446c4;
}

.bottom__carte__carteImg{
  height: 50%;
}

.bottom__carte a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1d3fb97d;
}
.bottom1{
  position: absolute;
  left: -1000%;
  z-index: -100;
  opacity: 0;
}

#Three{
  display: flex;
    align-items: center;
    justify-content: center;
  & iframe{
    border-radius: 5px;
    width: 100%;
  }
  display: flex;
  align-items: center;
}

